@import "tailwindcss";

@theme {
    --breakpoint-modal: 440px;
    --breakpoint-esml: 560px;
    --breakpoint-sml: 750px;
    --breakpoint-mid: 850px;
    --breakpoint-lrg: 1420px;
    --breakpoint-cards-lrg: 1150px;
    --breakpoint-cards-mid: 800px;
    --breakpoint-cards-sml: 560px;
    --breakpoint-loans-fil-lrg: 1050px;
    --breakpoint-loans-fil-mid: 620px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-out;
}

@utility lift-scale {
    @apply transition-transform duration-300 hover:scale-[1.05] origin-center
}

@utility lift-scale-small {
    @apply transition-transform duration-300 hover:scale-[1.01] origin-center
}

.items-border {
    @apply first:pt-[5px] pt-2.5 pb-2.5 last:pb-[5px] border-b border-b-(--color-text) border-solid last:border-b-0;
}

.filters-4-grid {
    @apply mid:grid-cols-[4fr_4fr_2fr] max-mid:grid-cols-2
}

.filters-4-1 {
    @apply mid:col-start-1 mid:row-start-1 col-span-2
}

.filters-4-3 {
    @apply mid:row-start-2 mid:col-start-2 max-mid:row-start-2 max-mid:col-start-1 max-sml:row-start-2 max-sml:col-span-2
}

.filters-4-2 {
    @apply mid:row-start-1 mid:col-start-3 max-mid:row-start-2 max-mid:col-start-2 max-sml:row-start-3 max-sml:col-start-1 max-esml:row-start-3 max-esml:col-start-1 max-esml:col-span-2
}

.filters-4-4 {
    @apply mid:row-start-2 mid:col-start-3 max-mid:row-start-3 max-mid:col-start-2 max-sml:row-start-3 max-sml:col-start-2 max-esml:col-start-1 max-esml:col-span-2 max-esml:row-start-4;
}

.filters-4-btns {
    @apply mid:row-start-2 mid:col-start-1 justify-self-end max-mid:row-start-3 max-sml:row-start-4 max-sml:col-start-2 max-esml:row-start-5 max-esml:col-start-1 max-esml:col-span-2
}

:root {
    --color-main: #000000;
    --color-sec: #323232;
    --color-third: #FF1E56;
    --color-text: white;
    --color-input-text: black;
    --color-error: red;
    --color-pos: theme(colors.green.600);

    --menu-height: 70px;
    --input-border-radius: 15px;
}

.due {
    @apply border-4 border-(--color-text);
}

@utility s-scroll {
    @apply overflow-y-auto;

    &::-webkit-scrollbar {
        @apply w-[5px];
    }

    &::-webkit-scrollbar-track {
        @apply w-fit bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
        @apply bg-(--color-main) bg-clip-content;
    }

    &::-webkit-scrollbar-thumb:hover {
        @apply brightness-90;
    }
}

@utility s-scroll-alt-color {
    &::-webkit-scrollbar-thumb {
        @apply bg-(--color-third);
    }
}

@utility s-scroll-track {
    &::-webkit-scrollbar-track {
        @apply w-fit bg-(--color-third);
    }
}

body {
    @apply font-[Quicksand] text-2xl overflow-hidden
}

@utility text-hbg {
    @apply px-1 py-1 rounded-[5px] bg-(--color-sec)/60;
}

.loans-list-wrapper {
    @apply grid cards-lrg:grid-cols-4 cards-mid:max-cards-lrg:grid-cols-3 cards-sml:max-cards-mid:grid-cols-2 max-cards-sml:grid-cols-1 gap-2.5 items-center justify-center;
}

.counterparties-list-wrapper {
    @apply grid grid-cols-5 gap-2.5 items-start justify-center;
}

.form {
    @apply flex flex-col gap-2.5
}

.window-center {
    @apply fixed top-[50%] left-[50%] -translate-1/2 overflow-hidden
}

.overlay {
    @apply fixed top-0 left-0 w-screen h-screen bg-(--color-sec)/80;
}

.jump-1 {
    @apply transition-transform duration-300 hover:scale-110 hover:-translate-y-1;
}

.jump-05 {
    @apply transition-transform duration-300 hover:scale-105 hover:-translate-y-0.5;
}

.btn-classic {
    @apply rounded-[15px] p-[5px_10px] ;
}

.btn-rounded {
    @apply p-[5px_10px] bg-(--color-main) text-(--color-text) font-bold h-full w-fit first:rounded-l-[15px] last:rounded-r-[15px];
}

.btn-rounded-vert {
    @apply p-[5px_10px] bg-(--color-main) text-(--color-text) font-bold h-full w-fit first:rounded-t-[15px] last:rounded-b-[15px];
}

.transition-500 {
    @apply transition-all duration-500 ease-in-out
}

.label {
    @apply capitalize font-bold h-fit text-(--color-text) text-xl
}

.field-wrapper {
    @apply flex flex-col w-full justify-start h-full
}

.field {
    @apply bg-(--color-text) rounded-[15px] h-10 p-[5px] pl-5 w-full font-bold text-(--color-input-text)
}

.text-clipped {
    @apply text-ellipsis overflow-hidden whitespace-nowrap
}

.end-adornment {
    @apply hover:cursor-pointer absolute right-2.5 w-[30px] top-[50%] translate-y-[-50%]
}

.price-wrapper {
    @apply shrink-0 whitespace-nowrap bg-(--color-sec)/90 w-full rounded-[5px] inline-flex items-center justify-end p-[0_10px]
}

.input-wrapper {
    @apply grow relative min-w-0 h-full;
}

.field-row {
    @apply flex-row! items-center gap-[5px];
}

 @utility icon-b {
    @apply text-[60px];
}

@utility icon-s {
    @apply text-[40px];
}

@utility icon-xs {
    @apply text-[25px];
}
