@import "tailwindcss";

body {
    @apply font-[Quicksand] text-2xl
}

.text-hbg {
    @apply px-1 py-1 rounded-[5px] bg-[var(--color-sec)]/50;
}

.form {
    @apply flex flex-col gap-[10px]
}

.window-center {
    @apply fixed top-[50%] left-[50%] -translate-1/2 overflow-hidden
}

.overlay {
    @apply fixed top-0 left-0 w-screen h-screen bg-[var(--color-sec)]/80;
}

.jump-1 {
    @apply transition-transform duration-300 hover:scale-110 hover:-translate-y-1;
}

.jump-05 {
    @apply transition-transform duration-300 hover:scale-105 hover:-translate-y-0.5;
}

.btn-classic {
    @apply rounded-[15px] p-[5px_10px] ;
}

.btn-rounded {
    @apply p-[5px_10px] bg-[var(--color-main)] text-[var(--color-text)] font-bold h-full w-fit first:rounded-l-[15px] last:rounded-r-[15px];
}

.transition-500 {
    @apply transition-all duration-500 ease-in-out
}

.s-scroll::-webkit-scrollbar {
    width: 6px;
}

.s-scroll::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 15px;
}

.s-scroll::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-left: 1px solid transparent;
    background-clip: content-box;
}

.s-scroll-comp::-webkit-scrollbar-thumb {
    @apply bg-[var(--color-third)];
}

.s-scroll::-webkit-scrollbar-thumb:hover {
    @apply brightness-900
}

.label {
    @apply capitalize font-bold h-fit text-[var(--color-text)] text-xl
}

.field-wrapper {
    @apply flex flex-col w-full justify-start
}

.field {
    @apply bg-[var(--color-text)] rounded-[15px] h-[40px] p-[5px] pl-[20px] w-full font-bold text-[var(--color-input-text)]
}

.text-clipped {
    @apply text-ellipsis overflow-hidden whitespace-nowrap
}

.end-adornment {
    @apply hover:cursor-pointer absolute right-[10px] w-[30px] top-[50%] translate-y-[-50%]
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-out;
}

:root {
    --color-main: #000000;
    --color-sec: #323232;
    --color-third: #FF1E56;
    --color-text: white;
    --color-input-text: black;
    --color-error: red;
}

.icon-b {
    height: 60px;
    width: auto;
}

.icon-xs {
    height: 25px;
    width: auto;
}

.icon-s {
    height: 40px;
    width: auto;
}
