@import "tailwindcss";

@theme {
    --breakpoint-modal: 440px;
    --breakpoint-esml: 560px;
    --breakpoint-sml: 750px;
    --breakpoint-mid: 850px;
    --breakpoint-lrg: 1420px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-out;
}

.lift-scale {
    @apply transition-transform duration-300 hover:scale-[1.05] origin-center
}

.items-border {
    @apply first:pt-[5px] pt-[10px] pb-[10px] last:pb-[5px] border-b-1 border-b-[var(--color-text)] border-solid last:border-b-0;
}

:root {
    --color-main: #000000;
    --color-sec: #323232;
    --color-third: #FF1E56;
    --color-text: white;
    --color-input-text: black;
    --color-error: red;

    --menu-height: 70px;
}

@utility s-scroll {
    @apply overflow-y-auto;

    &::-webkit-scrollbar {
        @apply w-[5px];
    }

    &::-webkit-scrollbar-track {
        @apply w-fit bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
        @apply bg-[var(--color-main)] bg-clip-content;
    }

    &::-webkit-scrollbar-thumb:hover {
        @apply brightness-90;
    }
}

@utility s-scroll-alt-color {
    &::-webkit-scrollbar-thumb {
        @apply bg-[var(--color-third)];
    }
}

@utility s-scroll-track {
    &::-webkit-scrollbar-track {
        @apply w-fit bg-[var(--color-third)];
    }
}

body {
    @apply font-[Quicksand] text-2xl overflow-hidden
}

@utility text-hbg {
    @apply px-1 py-1 rounded-[5px] bg-[var(--color-sec)]/60;
}

.form {
    @apply flex flex-col gap-[10px]
}

.window-center {
    @apply fixed top-[50%] left-[50%] -translate-1/2 overflow-hidden
}

.overlay {
    @apply fixed top-0 left-0 w-screen h-screen bg-[var(--color-sec)]/80;
}

.jump-1 {
    @apply transition-transform duration-300 hover:scale-110 hover:-translate-y-1;
}

.jump-05 {
    @apply transition-transform duration-300 hover:scale-105 hover:-translate-y-0.5;
}

.btn-classic {
    @apply rounded-[15px] p-[5px_10px] ;
}

.btn-rounded {
    @apply p-[5px_10px] bg-[var(--color-main)] text-[var(--color-text)] font-bold h-full w-fit first:rounded-l-[15px] last:rounded-r-[15px];
}

.transition-500 {
    @apply transition-all duration-500 ease-in-out
}

.label {
    @apply capitalize font-bold h-fit text-[var(--color-text)] text-xl
}

.field-wrapper {
    @apply flex flex-col w-full justify-start
}

.field {
    @apply bg-[var(--color-text)] rounded-[15px] h-[40px] p-[5px] pl-[20px] w-full font-bold text-[var(--color-input-text)]
}

.text-clipped {
    @apply text-ellipsis overflow-hidden whitespace-nowrap
}

.end-adornment {
    @apply hover:cursor-pointer absolute right-[10px] w-[30px] top-[50%] translate-y-[-50%]
}

.price-wrapper {
    @apply text-right shrink-0 whitespace-nowrap block bg-[var(--color-sec)]/90 w-full rounded-[5px]
}

 @utility icon-b {
    @apply text-[60px];
}

@utility icon-s {
    @apply text-[40px];
}

@utility icon-xs {
    @apply text-[25px];
}
