@import "tailwindcss";

body {
    @apply font-[Quicksand] text-2xl
}

.text-hbg {
    @apply px-1 py-1 rounded-[5px] bg-[#640D5F]/70;
}

.form {
    @apply flex flex-col gap-[10px]
}

.window-center {
    @apply fixed top-[50%] left-[50%] -translate-1/2 overflow-hidden
}

.overlay {
    @apply fixed top-0 left-0 w-full h-full bg-black/70;
}

.jump-1 {
    @apply transition-transform duration-300 hover:scale-110 hover:-translate-y-1;
}

.jump-05 {
    @apply transition-transform duration-300 hover:scale-105 hover:-translate-y-0.5;
}

.btn-classic {
    @apply rounded-[15px] p-[5px_10px] ;
}

.btn-rounded {
    background-color: #D91656;
    @apply p-[5px_10px] text-white font-bold h-full w-fit first:rounded-l-[15px] last:rounded-r-[15px];
}

.transition-500 {
    @apply transition-all duration-500 ease-in-out
}

.s-scroll::-webkit-scrollbar {
    width: 6px;
}

.s-scroll::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 15px;
}

.s-scroll::-webkit-scrollbar-thumb {
    background-color: #D91656;
    border-left: 1px solid transparent;
    background-clip: content-box;
}

.s-scroll-comp::-webkit-scrollbar-thumb {
    @apply bg-[#FFB200];
}

.s-scroll::-webkit-scrollbar-thumb:hover {
    @apply brightness-900
}

.label {
    @apply capitalize font-bold h-fit text-white text-xl
}

.field-wrapper {
    @apply flex flex-col w-full justify-start
}

.field {
    @apply bg-white rounded-[15px] h-[40px] p-[5px] pl-[20px] w-full font-bold text-black
}

.text-clipped {
    @apply text-ellipsis overflow-hidden whitespace-nowrap
}

.end-adornment {
    @apply hover:cursor-pointer absolute right-[10px] w-[30px] top-[50%] translate-y-[-50%]
}

.m-color {
    color: #FFB200;
}

.m-b-color {
    background-color: #FFB200;
}

.s-color {
    color: #EB5B00
}

.s-b-color {
    background-color: #EB5B00;
}

.t-color {
    color: #D91656
}

.t-b-color {
    background-color: #D91656;
}

.comp-color {
    color: #640D5F;
}

.comp-b-color {
    background-color: #640D5F;
}

.icon-b {
    height: 60px;
    width: auto;
}

.icon-xs {
    height: 25px;
    width: auto;
}

.icon-s {
    height: 40px;
    width: auto;
}

