@import "tailwindcss";

.ul-scroll {
    scrollbar-width: thin;
    scrollbar-color: #640D5F transparent;
}

.s-scroll::-webkit-scrollbar {
    width: 6px;
}

.s-scroll::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 15px;
}

.s-scroll::-webkit-scrollbar-thumb {
    background-color: #640D5F;
    border-left: 2px solid transparent;
    background-clip: content-box;
}

.s-scroll::-webkit-scrollbar-thumb:hover {
    @apply brightness-900
}

.field-wrapper {
    @apply flex flex-col w-full items-center
}

.field {
    @apply bg-white rounded-[15px] h-[40px] p-[5px] pl-[20px] w-full font-bold
}

.text-clipped {
    @apply text-ellipsis overflow-hidden whitespace-nowrap
}

.end-adornment {
    @apply hover:cursor-pointer absolute right-[10px] w-[30px] top-[50%] translate-y-[-50%]
}

.m-color {
    color: #FFB200;
}

.m-b-color {
    background-color: #FFB200;
}

.s-color {
    color: #EB5B00
}

.s-b-color {
    background-color: #EB5B00;
}

.t-color {
    color: #D91656
}

.t-b-color {
    background-color: #D91656;
}

.comp-color {
    color: #640D5F;
}

.comp-b-color {
    background-color: #640D5F;
}

.icon-b {
    height: 60px;
    width: auto;
}

.icon-s {
    height: 40px;
    width: auto;
}

